body {
    background-color: #F2E8D8;
    color: #212529;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    width: 90%;
}

.header {
    background-color: #1C5E39;
    color: #fff;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}

.section {
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
}

.navbar {
    background-color: #1C5E39;
    text-align: center;
    padding-bottom: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.3rem;
}

.navbar-nav {
    list-style: none;
    font-family: Trebuchet MS;
}

.logo {
    height: 50px;
    width: 50px;
    float: left;
}

a {
    color: #F7EFE1;
    text-decoration: none;
}

h1 {
    font-family: 'Luminari', sans-serif;
    font-size: 48px;
    color: #F7EFE1;
    padding-bottom: 0.1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.1rem;
}

h2 {
    font-family: Trebuchet MS;
    text-align: center;
}

button, input[type="submit"] {
    background-color: #28804E;
    color: #F7EFE1;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
    font-family: Trebuchet MS;
}

button:hover {
    background-color: #0B3B31;
}

input[type="text"], input[type="number"], input[type="date"] {
    line-height: 1.8;
    width: 25%;
    padding-bottom: 0.1rem;
    padding-top: 0.1rem;
    font-family: Trebuchet MS;
}

input[type="text"]:hover, input[type="number"], input[type="date"]:hover {
    background-color: #f5f5f5;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

.dropdown {
    text-align: center;
}

#books {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    font-family: Trebuchet MS;
}

table {
    background-color: transparent;
    margin-bottom: 1rem;
    width: 100%;
    font-family: Trebuchet MS;
}

table th,
table td {
    padding: 0.75rem;
    vertical-align: middle;
}

#tblBooks {
    vertical-align: middle;
    text-align: center;
}

tbody tr:nth-of-type(odd) {
    background-color: #EBDEC5;
}

.fa-solid {
    color: white;
}

.fa-solid:hover {
    color: #E07EC0;
}

.rating-radio {
    display: none;
}

input[type="radio"]:hover + label i,
input[type="radio"]:hover ~ label i {
    color: #E07EC0;
}

input[type="radio"]:checked + label i,
input[type="radio"]:checked ~ label i {
    color: #E07EC0;
}

.dark-mode {
  background-color: #0A2B1A !important;
  color: #4BB861 !important;
}

.dark-mode tbody tr:nth-of-type(odd) {
    background-color: #0B3B31;
}

footer {
    text-align: center;
}
